# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Allure
allure-results/
allure-report/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Environment
.env
